@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$red: #CB4335;
$brown: #373A36;
$dark: #404040;
$blue: #34495E;
$beige-light: #D0D1CD;
$beige-lighter: #E6E2DD;
$gray: #e7e7e7;
$graylight: #fafafa;
$white: #fff;
$black: #000000;

//$colors: (
//    "red": (#c62d1f, #fff),
//    "green": (#3CB371, #fff),
//    "forest-green": (#228B22, #fff),
//    "grey": (#98989b, #fff),
//    "brown": (#757763, #fff),
//);

// Update Bulma's global variables
$family-sans-serif: "Nunito", "Helvetica", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$grey-light: $gray;
$grey-lighter: $graylight;
$primary: $blue;
$link: $red;
$widescreen-enabled: false;
$fullhd-enabled: false;
$table-row-active-background-color: green;

// Update some of Bulma's component variables
$body-background-color: #fff;
$control-border-width: 1px;
$input-shadow: none;
$input-border-color: $beige-light;
$input-arrow: $beige-light;
//$input-hover-border-color: #fff;
// $box$input-hover-border-color-color: $tonblue;

$box-background-color: #F8F8F8;
$box-background-image: url('/whitenoise.png');


$modal-card-head-border-bottom: none;
$modal-card-head-radius: 6px;
$modal-card-foot-radius: 6px;
$modal-card-foot-border-top: none;

//@import "~buefy/src/scss/buefy";

//html {
//  font-size: 12px;
//  .main {
//    display: flex;
//    min-height: 100vh;
//    flex-direction: column;
//  }
//  .main-content {
//    flex: 1;
//    padding-top: 70px;
//  }
//  .navbar {
//    @extend .navbar;
//    margin-bottom: 15px;
//    .brand {
//      padding-left: 10px;
//      padding-right: 10px;
//    }
//  }
//  .nav-shadow {
//    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
//  }
//  .logo {
//    height: 60px;
//  }
//}

.navbar, .footer {
    .container {
        max-width: 1500px;
        padding: 0 20px 0 20px;
    }
}

.main-box {
		background-color: #fff;
		border-radius: 8px;
		border: 1px solid #d1cfc9;
		padding: 0px;
        box-shadow: 0 1px 12px 6px rgba(0, 0, 0, 0.1);
}

.main-section {
	padding: 80px 15px 20px 15px;
	.container {
		max-width: 1400px;
    }
        .search-box {
          @extend .main-box;
          background-image: url('/whitenoise.png');
          padding: 20px;
          margin-bottom: 20px;
        }
        .table-box {
            @extend .main-box;
            padding: 15px 20px 15px 20px;
            margin-top: 20px;
        }
}

.items-list {
		max-width: 1024px;
		overflow-y: auto;
		padding: 20px;
        //padding-bottom:100px;
    	table thead tr {
				th:nth-child(3),th:nth-child(4),th:nth-child(5){
					text-align: center;
				}
				th:nth-child(6){
					text-align: right;
                }
                th {
                    border-bottom: 1px solid $beige-light;
                }
        }

		tbody tr{
				border-radius: 4px;
				td:first-child{
					border-top-left-radius: 12px;
					border-bottom-left-radius: 12px;
				}
				td:last-child{
					border-top-right-radius: 12px;
					border-bottom-right-radius: 12px;
					text-align: right;
				}
				td:nth-child(3),td:nth-child(4),td:nth-child(5){
					text-align: center;
                }
                td {
                    // border: none;
                    border-bottom: 1px solid $beige-light;
                }
			}

}

.modal-card {
    .modal-card-head {
        background-color: $white;
        .modal-card-title {
            font-weight: 600;
            line-height: 1.125;
            font-size: 1.8rem;
        }
        a {
            color: $grey-light;
        }
        a:hover{
            color: $grey-lighter;
        }
    }

    .modal-card-body {
        color: $dark;
        padding: 6px 20px 15px 20px;
    }

    .modal-card-foot {
        background-color: $white;
    }

    .label {
        color: $link;
    }
    .help {
        color: $grey-light;
    }
}

.modal-close {
    visibility: hidden;
}

.inline-box {
  padding: 20px;
  margin-bottom: 10px;
  background-color: $grey-lighter;
}

.footer-image {
  display: block;
  width: 100%;
  height: 400px;
  background-image: url('/wheelsets.png.webp');
  background-size: cover;
  //position: absolute
}

//.footer {
//  .container {
//    max-width: 1500px;
//  }
//}

@import "~bulma/bulma";