127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% for item in groups.nodes %}
{{ hostvars[item].ansible_host }} orderer{{ hostvars[item].orderer_id }}.{{ hostvars[item].org }}.{{ domain }} peer0.{{ hostvars[item].org }}.{{ domain }}
{% endfor %}